/*************************************************/
/****************** RESET - CSS ******************/
/*************************************************/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root{
  --yellow: #f3bd22;
  --black: #050315;
  --white: #ffffff;
  --background: #eeeadb;
  --animStart: 150vh;
  --animEnd: 150vh;
  --weight: 400 /* entre 100 et 900 */
  /* --min-height: 400vh; */
}

html {
	background-color: var(--background);
  font-family: sans-serif;
}

/* body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
} */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  justify-self: center; 
  width: 100%;
  /* min-height: var(--min-height); */
}

* {
  box-sizing: border-box; 
}

/* h1 {
  margin-top: calc(5vh + 64px);
  font-size: 3rem;
} */
h1, h1 a, .soustitre, h2, ul li a, .cta a, ul li, .to-home {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--black); 
}

/*************************************************/
/****************** CSS - GRUt· ******************/
/*************************************************/

/******************** Styles de la navigation ********************/
.menu {
  background-color: #0d0950;
  border: none;
  color: #fff; 
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 8px;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
  padding: 8px;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 4px 0;
  text-decoration: none;
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
}

.nav-links a:is(:hover, :focus) {
  transform: translateY(-5px);
  filter: grayscale(1)
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    position: fixed;
    background: whitesmoke;
    flex-direction: row;
    gap: 16px;
    border-bottom: 1px solid lightgrey; 
  }

  .menu {
    display: none;
  }
  
  ul {
    padding: 8px;	
  }

  li {
    font-weight: 700;
      list-style: none;
  }

  p {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--weight);
    font-style: normal;
  }

  h1, .soustitre {
    min-width: fit-content;  
    line-height: 1.6ch;
    text-shadow: 4px 4px var(--background);
    transition: text-shadow 0.3s ease-in-out;
  }

  h1 a {
    text-decoration: none;
    transition: text-shadow 0.3s ease-in-out;	
  }

  h1:hover {
    text-shadow: -4px 4px var(--background);	
  }
  
}