/*************************************************/
/****************** RESET - CSS ******************/
/*************************************************/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
Image,
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

:root {
	--yellow: #f3bd22;
	--black: #000000;	
	--white: #ffffff;
	--background: #eeeadb;
	--animStart: 150vh;
	--animEnd: 150vh;
	--weight: 400;
	/* entre 100 et 900 */
	/* --min-height: 400vh; */
	--gap-24: 24px;
	--gap-16: 16px;
}

/*************************************************/
/****************** CSS - GRUt· ******************/
/*************************************************/

* {
	font-family: "Source Serif 4", serif;
}

html {
	background-color: var(--yellow);
	font-size: clamp(14px, 11.0838px + 0.2778vw, 18px);
	overflow-x: clip;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	justify-self: center;
	width: 100%;
	height: fit-content;
	overflow-x: clip;
}

header {
	width: 100%;
}

p a {
	color: color-mix(in srgb, var(--black) 75%, transparent);
	font-style: italic;
}

*:not(.cta, .info-texte, article, *.to-small-titre, li.about)>a {
	text-decoration: none;
	transition: text-decoration 0.2s ease;
	position: relative;

	&:not(.lien-post)::before {
		content: "";
		position: absolute;
		background: var(--black);
		width: 0%;
		height: 3px;
		left: 0;
		top: 2.3ch;
		border-radius: 1ch;
		transition: width 0.2s ease;
	}

	&:hover:before {
		width: 100%;
	}
}

p:not(.cta, *.to-small-titre, li:is(.about, .tag)) a::after {
	content: "\f08e";
	font-family: "fontAwesome";
	font-weight: 400;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	margin-inline-start: 1ch;
	text-indent: 0;
	font-size: 1.4rem;
}

h1,
*.to-small-titre a,
.soustitre,
h2,
h3,
h4,
ul:not(.liste-contraintes, .tags) li a,
.cta a,
ul li,
strong,
em,
.to-home,
p.titre-texte,
.carton-texte p,
p.accroche,
figcaption {
	font-family: "Chelsea Market", system-ui;
	font-weight: 400;
	font-style: normal;
	color: var(--black);
}

ul {
	padding: 8px;
}

li {
	font-weight: 700;
	list-style: none;	
}

p {
	font-optical-sizing: auto;
	font-weight: var(--weight);
	font-style: normal;
	font-size: 1.4rem;
}

*.to-small-titre a,
.soustitre,
p.accroche {
	min-width: fit-content;
	line-height: 1.6ch;
	text-shadow: 4px 4px var(--background);
	transition: text-shadow 0.3s ease-in-out;
}

*.to-small-titre a {
	text-decoration: none;
	transition: text-shadow 0.3s ease-in-out;
}

*.to-small-titre:hover a {
	text-shadow: -4px 4px var(--background);
}

h2 {
	font-size: 2.4rem;
}

h3,
.soustitre {
	font-size: 2rem;
}


*.display-flex {
	display: flex;
}

*.direction-column {
	flex-direction: column;
}

*.direction-row {
	flex-direction: row;
	position: relative;
	height: 100%;
}

div.direction-column .container-hero {
	display: flex;
	flex-direction: column;
	gap: var(--gap-24);
	width: 100%;
	max-width: 800px;
	padding: 24px 0;
}

div.direction-column .container-paragraph {
	border-top-color: transparent;
	border-bottom-color: transparent;
	gap: var(--gap-24);
	width: 100%;

	& p {
		width: fit-content;
	}
}

/* body#Gribouille .galerie-ligne ul.liste-contraintes {
	gap: 1ch;
	padding:0;
	
	& li {
		padding: 0.25ch;
	}
} */

.carton-presentation .container-paragraph {
	display: inherit;
	flex-direction: column;
}

body .main {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}

.cta {
	padding: 0 16px;
	background: var(--yellow);
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	min-width: 200px;
	border-radius: 100px;
	border: 4px solid var(--black);
	transition: background 0.3s ease;
	height: fit-content;
	align-self: flex-end;
	min-width: max-content;

	& a {
		text-decoration: none;
		text-align: center;
		color: var(--black);
		font-size: clamp(1.5rem, 1rem + 1.2vw, 3rem);

	}

	&:hover {
		background-color: var(--black);

		& a {
			color: var(--yellow);
		}
	}
}

.main-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.image-container {
	height: 600vh;
	position: relative;
	width: 100vw;
	box-sizing: content-box;
	z-index: 0;
	background: var(--background);
}

.image-container *.image-reveal {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-self: center;
	position: sticky;
	top: 0;
	object-fit: cover;
	object-position: bottom;
	background: var(--yellow);

	view-timeline-axis: block;
	animation: clip-reveal 1s both;
	/* animation-timeline: view(); */
	animation-timeline: scroll();
	animation-range-start: 130vh;
	animation-range-end: 500vh;
}

.carton-texte {
	content: "";
	position: absolute;
	top: 20vh;
	width: 100%;
	min-width: auto;
	height: auto;
	padding: 32px 0;
	display: flex;
	justify-content: center;
	z-index: 2;

	view-timeline-name: --to-opacity-0;
	view-timeline-axis: block;
	animation: linear to-opacity-0 both;
	/* animation-timeline: view(); */
	animation-timeline: scroll();
	animation-range-start: 130vh;
	animation-range-end: 250vh;

	& p {
        font-size: 4rem;
        padding: 32px 0;        
	}
}

.nav-box {
	position: relative;
	width: 100%;
	height: 50px;
	z-index: 1;
	display: flex;
	align-items: center;
}

/******************************************/
/************ Redirection home ************/
/******************************************/


body .display-flex.direction-row.redirection-col {
	width: 100vw;
	flex-wrap: wrap;

	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		background: var(--black);
	}
}

[class*="redirection-card"] {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: var(--gap-16);
	overflow: hidden;
	position: relative;
	transition: width 0.3s ease-in-out;
	z-index: 1;
    height: fit-content;
    min-height: 100vh;

	& .direction-column {
		background-color: var(--white);
		padding: 16px;

		& h2 {
			font-size: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
		}
	}
}

/* Section gribouille */
.redirection-card-gribouille {
	align-items: flex-start;
	justify-content: center;
	width: 60%;
	transform: rotate(-2.5deg);
	border: 4px solid var(--black);
	position: relative;
	padding: 6vh 0 0 2vw;
	z-index: 2;
	background: url(../artwork/homonde-Fork-2020-to-2023-v2.png);
    background-size: 50%;
    background-position: center;	
	transition: background 0.4s ease;


	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: var(--background);
		mix-blend-mode: color;
		z-index: -1;
		transition: opacity 1.5s ease;
	}
	
	&:has(.cta:hover):after {
		opacity: 0;	
	}
	&:hover:has(.cta:hover) {
		background-size: 51%;
	}	

	/* &:before {
		content: "[Nom de l'image] - [date/date/date]";
		position: absolute;
		bottom: 5%;
		right: 5%;
		background: var(--white);
		padding: 2px;
	}	 */

	& *:is(h2,p) {
		background-color: var(--white);
	}
	
	& h2 {
		transform: rotate(-2deg);
	}
	
	& p {
		transform: translateX(6vw) rotate(3deg);
	}
}

.redirection-card-gribouille .display-flex.direction-column {
	width: 100%;
    max-width: 500px;	
	gap: var(--gap-24);
	padding: 24px;
	background: transparent;
}

/* Section écritouille */
.redirection-card-ecritouille {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    background-size: cover;
    background: var(--black);
	min-height: 100vh;
    padding: 10vh 0;
    height: fit-content;

	&>.display-flex.direction-row {
		min-height: 100vh;
		height: fit-content;
		justify-content: center;
		width: 100%;
        inset: 0;
        margin: auto;
		max-width:75vw;
		align-items: center;
	}
}

.redirection-card-ecritouille .presentation.display-flex.direction-column {
	max-width: 1280px;
	gap: var(--gap-24);
	padding-bottom: 48px;
	background: var(--black);
	z-index: 2;
	height: fit-content;

	& :is(h2, h3, p) {
		color: var(--white);
	}
}

.redirection-card-ecritouille .dernier-texte.display-flex.direction-row {
	background: var(--black);
	transform: rotate(1deg);
}

.redirection-card-ecritouille .ambiance.display-flex.direction-row {
    gap: var(--gap-24);
    width: calc(100% - 24px);
    align-self: flex-start;

	& p {
		width: 100%;
	}
	p:nth-child(2) {
		padding-top: 5rem;
	}
}

.redirection-card-ecritouille .dernier-texte .box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 24px;
	background: var(--black);
	align-self: center;
	gap: var(--gap-24);
	max-width: fit-content;

	& .cta {
		align-self: flex-start;
	}

	*:not(.cta a) {
		color: var(--white);
	}
}

html#ecritouille body .tous-les-textes .box article {	
	border-bottom: 2px dashed var(--white);
	
	&::hover a {
		background-color: color-mix(in srgb, var(--background), 60%, transparent);
		transform: translateX(-1rem);
	}
	& *:is(p, p.date-publication, input#start) {

		&.titre-texte {
			font-size: 1rem;
			max-width: fit-content;
			height: 100%;
			align-items: center;
			line-height: 1.3rem;
		}
	}
}

.ambiance {	
	& *:nth-child(even) {
		transform: rotate(2deg);
	}
	& *:nth-child(odd) {
		transform: rotate(-2deg);
	}
}


.redirection-card-webouille {
	align-items: flex-start;
	justify-content: center;
	background: var(--white) url(../images/fond-webd.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: scroll;
	width: 40%;

	& .cta {
		display: flex;
		align-self: center;
		z-index: 1;
		position: relative;
	}
}

.redirection-card-webouille .display-flex.direction-column {
	width: 20%;
	min-width: 400px;
	margin-left: 15%;
	border-radius: 4px;
	gap: var(--gap-24);
	padding: 24px;
	background: var(--white);
	z-index: 1;
}

/******************************************/
/***************** Footer *****************/
/******************************************/

body footer {
	width: 100vw;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background: var(--yellow);
	background-size: 20%;
	height: 100vh;
	background-position: left bottom;

	& p.accroche {
		width: 100%;
		text-align: center;
	}
}

footer.display-flex.direction-column {
	position: sticky;
	bottom: 0;
	z-index: 0;
}

footer p.accroche {
	font-size: clamp(4rem, -4.4475rem + 16.2063vw, 15rem);
	padding: 64px 24px;
}

input[type="checkbox"] {
	display: none;
}

/****** FOOTER MEDIAS SOCIAUX ******/

footer *.navigation {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	padding: 24px;
	gap: var(--gap-24);

	
	& *:is(button, a) {
		font-size: clamp(1.5rem, 1rem + 1.2vw, 3rem);
		display: flex;
		gap: var(--gap-16);
		align-items: center;

		& :is(div, span)[class*="icon-"] {
			height: clamp(1.5rem, 1rem + 1.2vw, 3rem);
			width: clamp(1.5rem, 1rem + 1.2vw, 3rem);
			position: relative;
			mask-repeat: no-repeat;
			mask-size: 100%;
			mask-position: center;
			background: var(--black);
		}

		& .icon-fbook {
			mask: url(../images/icon-fbook.svg);
		}

		& .icon-insta {
			mask: url(../images/icon-insta.svg);
		}

		&:hover {
			color: var(--yellow);

			& :is(div, span)[class*="icon-"] {
				background: var(--yellow);
			}
		}
	}
}

/* Corrections ligne mentions légales */
footer .mentions-legales {
	gap: var(--gap-16);

	& span {
		display: inherit;
		align-items: center;
	}
}

.display-flex.direction-column.contenu-texte {
	padding: 3vh 24px;
	max-width: 672px;
	position: relative;
	/* border-radius: 4px; */
}

/* header nav.to-top *.to-small-menu {
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(13vh);
	text-wrap: nowrap;
	padding: 1ch;
	font-size: 1.5rem;

	display: flex;
	width: fit-content;
	justify-content: center;

	animation: linear to-small-menu both;
	animation-timeline: scroll();
	animation-duration: 0.2s;
	animation-range-start: 450vh;
	animation-range-end: 600vh;
} */

body header nav.to-top {
	padding: 8px 2vw;
	position: fixed;
	z-index: 9999;
	width: 100%;
	max-width: inherit;
	height: fit-content;
	background: transparent;

	view-timeline-name: --to-top;
	view-timeline-axis: block;
	animation: linear to-top both;
	/* animation-timeline: view(); */
	animation-timeline: scroll();
	animation-range-start: 450vh;
	animation-range-end: 600vh;

	& ul {
		display: flex;
		width: fit-content;
		justify-content: center;

		& li {
			padding: 0 1ch;
		}
		
		& li.about {
			background: var(--black);
			height: 1.6rem;
			width: 1.6rem;
			border-radius: 2rem;
			justify-content: center;
            display: flex;
			transition: all 0.2s ease;
			
			&:hover {
				background: var(--background);
				& a {
					color: var(--black);
				}
			}
			
			& a {
				color: var(--yellow);
				text-decoration: none;
			}			
		}
	}
}

header nav.to-top *.to-small-titre {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	text-wrap: nowrap;
	view-timeline-name: --to-small;
	view-timeline-axis: block;
	animation: linear to-small-titre both;
	/* animation-timeline: view(); */
	animation-timeline: scroll();
	animation-duration: 0.2s;
	animation-range-start: 450vh;
	animation-range-end: 550vh;
	padding-left: 3rem;
	
	&::before {
		height: 100%;
	}
	
	& a {
		line-height: normal;
	}
}

header nav .to-small-menu {
	position: absolute;
	/* transform: translateX(-50%) translateY(13vh); */
	text-wrap: nowrap;
	padding: 1ch;
	font-size: 1.1rem;

	display: flex;
	width: fit-content;
	justify-content: center;

	animation: linear to-small-menu both;
	/* animation-timeline: view(); */
	animation-timeline: scroll();
	animation-duration: 0.2s;
	animation-range-start: 450vh;
	animation-range-end: 600vh;
}

/* @layer animations { */
@keyframes clip-reveal {
	0% {
		clip-path: inset(9% 36% 15% 36%);
	}

	30% {
		clip-path: inset(14% 0% 40% 0%);
	}

	80%,
	100% {
		clip-path: inset(0% 0% 0% 0%);
	}
}

@keyframes to-top {
	0% {
		transform: translateY(12vh);
	}

	50% {
		transform: translateY(0);
		background: var(--yellow);
	}

	100% {
		transform: translateY(0);
		background: var(--yellow);
	}
}

@keyframes to-small-titre {
	0% {
		font-size: clamp(5.3rem, 0.6906rem + 6.9245vw, 9rem);
	}

	100% {
		left: 0;
		transform: translateX(-5%);
		font-size: 1.8rem;
	}
}

@keyframes to-small-menu {
	0% {
		/* font-size: clamp(1.5rem, 1.4909rem + 0.591vw, 2.2rem); */
		transform: translateX(-100%) translateY(-20vh);
		opacity: 0;
		left: 100%;
		z-index: -1;

	}

	15% {
		transform: translateX(-100%) translateY(-20vh);
		left: 100%;
		opacity: 0;

	}

	100% {
		transform: translateX(-100%) translateY(0);
		left: 100%;
		opacity: 1;
		z-index: 1;
	}
}

@keyframes to-opacity-0 {
	0% {
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		transform: translateY(-40vh);
		opacity: 0;
	}	
}

body *.to-small-titre {
	display:flex;
	align-items: flex-start;
	
	&:hover:before {
		transform: scale(1.1);
	}
}
body *.to-small-titre:before {
    content: "";
    position: absolute;
    background: url(../images/logo-grut-2026.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    left: 8px;
    height: 2rem;
    width: 2rem;
	transition: transform 0.2s ease;
}

/******************************************/
/************* Autres pages ***************/
/******************************************/

/* body:is(#gribouille, #ecritouille, #about) { */
/* html:is(#Gribouille, #Ecritouille, #About, #text-tags) body { */
html:not([id*=Grammar]) body {
	background: var(--background);
	position: relative;

	& section.display-flex.direction-column {
		gap: var(--gap-24);
		padding: 1rem 0;

		& .corps-texte {
			gap: inherit;
		}
	}

	ul:not(.tags, .nav-links, .navigation) {
    padding: 0px 24px;
    border-left: 2px dashed var(--black);
}

	& h1.soustitre-page {
		max-width: calc(1024px - 2rem);
		position: relative;
		margin-top: 4rem;
		width: 100%;
		font-size: clamp(2.3rem, 2.32rem + 1.4vw, 3.8rem);
		text-align: left;
	}

	& .contenu-page.direction-row {
		flex-wrap: wrap;
		justify-content: center;
		gap: var(--gap-24);
		padding-bottom: 3rem;
		position: relative;
		background: var(--background);
		z-index: 1;
		width: 100%;		
        margin-top: 56px;
		min-height: 100vh;

		& .main {
            padding: 3vh 1rem 3vh 1rem;
            max-height: fit-content;
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            column-gap: 16px;
            row-gap: 16px;
            align-items: flex-start;
			justify-content: flex-start;
		}

		& .main.page-texte {
			max-width: 640px;
		}
	}	
	/* & nav.to-top { */


	& header nav.to-top {
		background-color: var(--background);
			& .nav-box .to-small-titre {
				view-timeline-name: --to-small;
				view-timeline-axis: block;
				animation: linear to-small-titre both;
				animation-timeline: view();
				animation-duration: 0s;
				animation-range-start: 0vh;
				animation-range-end: 0vh;
		}
		
		& .to-small-menu {
			animation: linear to-small-menu both;
			animation-timeline: view();
			animation-duration: 0.2s;
			animation-range-start: 0vh;
			animation-range-end: 0vh;
		}
	}

	& header nav.to-top {
		padding: 8px 2vw;
		view-timeline-name: --to-top;
		view-timeline-axis: block;
		animation: linear to-top-2 both;
		animation-timeline: view();
		animation-range-start: 0vh;
		animation-range-end: 0vh;
		border-bottom: 2px dashed var(--white);
		/* border-bottom: 2px dashed var(--black); */
	}
	
	@keyframes to-top-2 {
		0%, 100% {
			transform: translateY(0);
			background: var(--background);			
		}
	}

	& .main-text {
		flex-direction: row;
		gap: var(--gap-16);

		& > div {
			top: 96px;
		}

		& .corps-texte.display-flex.direction-column {
			gap: var(--gap-24);
			padding: 16px 0;

			& h2 {
				font-size: 2.4rem;
			}
		}
	}

	& footer.display-flex.direction-column {
		position: sticky;
		height: auto;
		padding: 5vh 2vw;
		gap: var(--gap-16);
		background: none;
		border-top: 2px dashed var(--white);
		z-index: 0;

		& p.accroche {
			font-size: 3rem;
			padding: 0;
		}

	}

	& .publication {
		gap: var(--gap-24);
		align-items: center;

		& * {
			font-size: 0.9rem;
		}

		& p::before {
			content: "|";
			position: absolute;
			transform: translateX(calc(var(--gap-24) / (-2)));
		}

		& input.date-article {
			border: none;
			background: transparent;
		}
	}


	& .galerie {
		width: 100vw;	
		padding: 10vh 2vh;		
		z-index: 1;
        background: var(--background);
		
		& .colonne-image {
			grid-template-columns: repeat(3, 1fr);	
			gap: var(--gap-24);		
			display: grid;

			& .figure {
				max-width: fit-content;				
				border-radius: 4px;
				overflow: hidden;
				position:relative;
				max-height: 50vh;

				&:hover img {
					filter: none;
					transform: scale(1.005);
					overflow: visible;
				}

				& img {
					height: 100%;
					object-fit: cover;
					filter: grayscale(80%);
					transition: all 0.2s ease;
				}

				& .figcaption {	
					font-size: clamp(0.8rem, 0.5rem + 0.5667vw, 1.2rem);
					background-color: var(--black);
					width: fit-content;
					height: fit-content;
					min-height: 5%;
					padding: 0.25rem 1rem;
					position: absolute;
					z-index: 2;
					inset: 0;
					margin: auto;
					opacity: 0;
					transition: opacity 0.3s ease;
					text-align: center;
					margin-left: -0.5%;
					margin-bottom: 10%;
					transform: rotate(-2deg);
					color: var(--white);					
				}

				&:hover .figcaption {
					opacity: 1;			
				}				
			}
		}

	}	
}

/* FIN COL STICKY */

/******************************************/
/*************** Responsive ***************/
/******************************************/


@media (width < 835px) {
	@keyframes clip-reveal {
		0% {
			clip-path: inset(9% 18% 20% 18%);
		}

		30% {
			clip-path: inset(20% 0% 25% 0%);
		}

		80%,
		100% {
			clip-path: inset(0% 0% 0% 0%);
		}
	}

	body ul.to-small-menu {
		flex-direction: column;
		top: 0;
		background: var(--yellow);
		border-radius: 4px;
		gap: 1ch;
		margin-top: 2.5rem;
	}

	body .nav-box div.burger-box {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		& .burger {
			gap: 0.5ch;

			& span {
				background: var(--black);
				z-index: 0;
				width: 1.5rem;
				height: 0.20rem;
				border-radius: 2px;
			}
		}

		& input+.burger span {
			transition: transform, width 0.2s ease-in-out;
		}

		& input:is(:hover, :checked)+.burger span:nth-child(1) {
			transform: rotate(-3deg);
		}

		& input:is(:hover, :checked)+.burger span:nth-child(2) {
			width: 1.2rem;
		}

		& input:is(:hover, :checked)+.burger span:nth-child(3) {
			transform: rotate(3deg);
		}

		& input[type="checkbox"] {
			width: 1.5rem;
			position: absolute;
			z-index: 1;
			height: 1rem;
			opacity: 0;
			display: block;
		}
	}

	body .burger-box:has(input)+.to-small-menu {
		transform: translateX(0);
		opacity: 0;
		transition: all 0.3s ease;
	}

	body .burger-box:has(input:checked)+.to-small-menu {
		transform: translateX(-100%);
		opacity: 1;
		transition: all 0.3s ease;
		
		& li.about {
			margin-left: 1ch;
		}
	}

	body .redirection-card-ecritouille {
		min-height: fit-content;		

		& .display-flex.direction-row {
			flex-wrap: wrap;
			flex-direction: row;

			& .presentation.display-flex.direction-column {
				min-width: 90vw;
			}

			& .dernier-texte {
				min-width: 90vw;
			}
		}
	}

	.image-container {
		height: 100vh;

		& *.image-reveal {
			object-position: 73% bottom;

			view-timeline-axis: block;
			animation: clip-reveal 1s both;
			animation-timeline: view();
			animation-range-start: 100vh;
			animation-range-end: 100vh;
		}
	}

	header nav.to-top *.to-small-titre {
		animation-range-start: 100vh;
		animation-range-end: 160vh;
		left: 0;
		transform: translate(0%);
		align-items: center;
		line-height: normal;
		height: 100%;
	}

	@keyframes to-small-titre {

		0%,
		100% {
			top: 0;
			transform: translateX(-5%);
			font-size: 1.8rem;
		}
	}

	footer .mentions-legales {
		flex-direction: column;
		align-items: center;
		gap: 0;
	}

	.carton-texte {
		content: "";
		position: absolute;
		top: 13vh;
		width: 50%;
		animation-range-start: 100vh;
		animation-range-end: 120vh;
		padding: 24px 0;
		left: 10vw;
		z-index: 2;

		& p {
            font-size: 3.2rem;
            padding: 16px 0;
            line-height: 1.3;
            text-shadow: 4px 4px var(--background);
            transition: text-shadow 0.3s ease-in-out;
		}
	}

	.dernier-texte {
		height: fit-content;
	}

	/* nav.to-top *.to-small-menu { */
	header nav.to-top *.to-small-menu {
		animation-range-start: 0vh;
		animation-range-end: 0vh;
	}

	@keyframes to-small-menu {

		0%,
		100% {
			left: 100%;
			font-size: 1rem;
			z-index: 1;
		}
	}

	@keyframes to-top {

		0%,
		100% {
			transform: translateY(0);
			background: var(--yellow);
		}
	}

	@keyframes to-opacity-0 {
		0% {
			transform: translateY(0);
			opacity: 1;
		}

		95% {
			transform: translateY(0vh);
			opacity: 0;
		}
		100% {
			transform: translateY(-100vh);
			opacity: 0;
		}
	}
	
	
	body#Gribouille {
		& .main div.galerie.display-flex.direction-row {
			flex-direction: column;
			
			& div[class*="colonne-image"] {
				min-width: 100%;
			}
		}
	}
}


@media (width < 1025px) {
	body#Gribouille {

		& div[class*="galerie"] .figure {
			position: relative;
			overflow: hidden;

			& img {
				filter: none;				
			}
			&:hover img {
				transform: scale(1);
			}
					
			& .figcaption {
				position: relative;
				width: 110%;
				height: fit-content;
				padding: 0.75rem 3vw;
				z-index: 2;
				inset: 0;
				margin: auto;
				opacity: 1;
				transition: opacity 0.3s ease;
				text-align: left;
				margin: -1rem 0 0 0;

			}
			&:hover figcaption {
				opacity: 1;
				
			}
		}
		
		& .galerie-ligne-1 {			
			flex-wrap: wrap;
			
			& .carton-presentation {
				width: auto;
				max-width: unset;
			}
			
			& .dernier-post {
				flex-grow:1;
			}
		}
	}
}

@media (width < 1081px) {
	html#Ecritouille body .main-text {
		flex-direction: column;
		max-width: 100vw;
		align-items: center;
		gap: var(--gap-24);

		& .tous-les-textes {
			flex-direction: row;
			flex-wrap: wrap;
			order: 1;
		}

		& .display-flex.direction-column.contenu-texte {
			background: var(--white);
			width: 90vw;
		}

		& .display-flex.direction-row.tous-les-textes {
			width: 90vw;
			flex-direction: column;

			& div {
				width: 100%;
			}

			& input#start {
				width: fit-content;
			}
			
			& p.date-publication {
				width: fit-content;
			}
		}
	}
	
}

@media (width < 1281px) {
	body .redirection-card-ecritouille {
		min-height: fit-content;		

		& .display-flex.direction-row {
			flex-wrap: wrap;
			flex-direction: row;

			& .dernier-texte {
				width: 70%;
			}
		}
	}	
}

@media (width < 1441px) {
	.carton-texte {
		top: 15vh;
	}

	.display-flex.direction-row.redirection-col {
		flex-direction: column;
	}

	[class*="redirection-card"] {
		width: 100vw;
		
		&:has(.cta:hover) {
			width: inherit;
		}
	}
	.redirection-card-gribouille {
		padding: 6vh 0 0 5vw;	
		z-index: 2;
	}

	.redirection-card-ecritouille .ambiance.display-flex.direction-row {
		gap: var(--gap-24);
		/* width: calc(100% - 24px); */
		max-width: 640px;
		flex-direction: column;		

		& p {
			width: 100%;			
				&:nth-child(2) {
					padding-top:0;
				}
			}
	}
	.ambiance {
		
		& *:nth-child(even) {
    		transform: rotate(0);
		}
		& *:nth-child(odd) {
			transform: rotate(0);
		}
	}
}