html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: calc(5vh + 40px) auto;
  font-size: 3rem;
}

/******************** Styles de la navigation ********************/

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  transition: transform 0.2s ease-in-out;
}

.nav-links a:is(:hover, :focus) {
    transform: translateY(-5px);
    filter:grayscale(1)    
}

@media screen and (min-width: 636px) {
  .nav-links {
/*     margin-left: 5em;
 */ display: block;
    /* position: static; */
    position: fixed;
    /* width: auto; */
    /* background: none; */
    background: linear-gradient(to right, rgba(0,0,0, 0.05) 30%, transparent 50%);
    backdrop-filter: blur(10px);
  }

  .nav-links a {
    display: inline-block;
    padding: 8px 16px;
  }
}