---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('./posts/*.md', { eager: true });
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "Index des étiquettes";
---
<BaseLayout pageTitle={pageTitle}>
  <ul class="tags">
    {tags.map((tag) => (
      <li class="tag"><a href={`/tags/${tag}`}>{tag}</a></li>
    ))}
  </ul>
</BaseLayout>
<style>
/* ul.tags {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 0.5rem;
	padding: 1ch 0;
	flex-wrap: wrap;

	& li.tag {
		font-size: 0.9rem;
		font-weight: 400;
		font-family: "Source Serif 4", serif;
		padding: 0.5ch 1ch;
		border-radius: 4px;
		background-color: color-mix(in srgb, var(--background) 60%, transparent);
		min-width: fit-content;
		transition: background 0.3s ease;

		&:hover {
			background: var(--black);
			color: var(--background);
		}
	}
} */
</style>