---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = Object.values(
    import.meta.glob("../posts/*.md", { eager: true }),
);
const tags = [
    ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
];
const pageTitle = "text-tags";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="contenu-page display-flex direction-row">
        <div class="main">
            <ul class="tags">
                {
                    tags.map((tag) => (
                        <li class="tag">
                            <a href={`/tags/${tag}`}>{tag}</a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</BaseLayout>
