---
import BaseLayout from "../layouts/BaseLayout.astro";
// import BlogPost from "../components/BlogPost.astro";

const pageTitle = "about La vie, les potos et le reste";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="contenu-page display-flex direction-row">
    <section>
      <h1 class="soustitre-page">{pageTitle.slice(6)}</h1>
      <div class="main-potos display-flex">
        <h2 class="soustitre-page">Un peu de passif</h2>
        <ul>
          <li>Y'a longtemps j'ai fait la bouffe dans des restos</li>
          ///
          <ul>
            <li>Durant tout ce temps j'ai fait de la musique avec des amis</li>
            <li>J'ai joué à CS et fait du JDR avec d'autres copains</li>
            <li>J'ai commencé pleins de choses à la fac</li>
            <li>j'ai quasi rien validé</li>
          </ul>
          ///
          <li>Plus tard, j'ai eu un DUT en informatique</li>
          <li>En 2018, j'ai arrêté de faire le pion au lycée à Saintes</li>
          <li>En suivant, je me suis formé au webdesign</li>
          <li>Aujourd'hui, Je suis webdesigner depuis 5 ans à Solocal</li>
          <br />
          <li>Et surtout, surtout,</li>
          <li>j'ai passé beaucoup trop de temps sur Elden Ring</li>
        </ul>
        <h2 class="soustitre-page">Et sinon la vie</h2>
        <p>
          La bouffe, la fiction, la politique, le jdr et cie, le JV, le foot (à
          la tévé), la gribouille des autres, la musique des autres <span
            class="icon"
            ><a target="_blank" href="https://bandcamp.com/arnalgrut"
              >mon profil bandcamp</a
            ></span
          >.
        </p>
      </div>
      <div class="main-potos display-flex">
        <h2 class="soustitre-page">Le taf des potos...</h2>
        <div class="display-flex direction-row presentation">
          <div class="display-flex">
            <h3 class="les-potos-ls">
              <a target="_blank" href="https://onehuman.fr/">Onehuman</a>
            </h3>
          </div>
          <div class="display-flex">
            <h3 class="les-potos-am">
              <a target="_blank" href="https://marmoneur.netlify.app/"
                >Marmoneur</a
              >
            </h3>
          </div>
          <div class="display-flex">
            <h3 class="les-potos-jj">
              <a
                target="_blank"
                href="https://audioblog.arteradio.com/blog/261344/lectus-podcast"
                >LectUs</a
              >
            </h3>
          </div>
          <div class="display-flex">
            <h3 class="les-potos-sr">
              <a
                target="_blank"
                href="https://stefan-rooy-artworks.multiscreensite.com/"
                >Stefan Rooy</a
              >
            </h3>
          </div>
        </div>
      </div>
      <div class="main-potos display-flex">
        <h2 class="soustitre-page">Du cador...</h2>
        <div class="display-flex direction-row presentation">
          <div class="display-flex">
            <h3 class="les-cadors">
              <a target="_blank" href="https://www.bouletcorp.com/home"
                >Bouletcorps</a
              >
            </h3>
          </div>
          <div class="display-flex">
            <h3 class="les-cadors">
              <a target="_blank" href="https://www.simonstalenhag.se/"
                >Simon Stalenhag</a
              >
            </h3>
          </div>
          <div class="display-flex">
            <h3 class="les-cadors">
              <a target="_blank" href="https://www.utopiales.org/">Les Utos</a>
            </h3>
          </div>
          <div class="display-flex">
            <h3 class="les-cadors">
              <a target="_blank" href="https://www.ironmaiden.com/"
                >Up The Irons !</a
              >
            </h3>
          </div>
        </div>
      </div>
    </section>
  </div>
  <style>
    html[id*="about"] {
      & body {
        padding-bottom: 0;
      }
    }
    .contenu-page.display-flex.direction-row:has(.main-potos) {
      min-height: 100vh;
      padding: 5vh 1rem 5vh 1rem;
      gap: 24px;
      align-items: self-start;
      position: relative;
      flex-wrap: wrap;
      /* background: var(--yellow) url(../images/homonde-abysse.png); */
      background: var(--yellow) url(../images/walking-moi.png);
      background-position: 8vw 66%;
      background-size: 25vw;
      background-repeat: no-repeat;
      background-attachment: fixed;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(
          105deg,
          transparent 10vw,
          var(--yellow) 50vw
        );
        opacity: 1;
        z-index: -1;
      }

      & h1.soustitre-page {
        text-align: left;
      }

      & .main-potos {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        position: relative;
        flex-direction: column;
        gap: 2rem;
        border-radius: 4px;
        width: 100%;

        & h2 {
          width: fit-content;
          background: var(--white);
          left: 2vw;
          padding: 0 1rem;
          font-size: 1.8rem;
          top: 10vh;
          border-radius: 4px;
          transform: rotate(-2deg);
        }

        & .presentation {
          flex-wrap: wrap;
          gap: 1rem;
        }

        & div:has(h3:is([class*="les-potos"], [class*="les-cadors"])) {
          border-radius: 4px;
          transition: background-image 0.2s ease;
          width: fit-content;
          & a {
            background: var(--background);
            font-size: 1.2rem;
          }
        }
      }
    }
    span.icon-arrow {
      position: relative;
      z-index: 0;
      display: flex;
      align-items: center;
      padding-left: 2rem;

      a {
        color: var(--black);
      }
    }
    .contenu-page.display-flex.direction-row:has(.main-potos) section {
      display: flex;
      max-width: 640px;
      flex-wrap: wrap;
      gap: 24px;
      transform: translateX(13vw);
    }

    @media (width < 1281px) {
      .contenu-page.display-flex.direction-row:has(.main-potos) {
        background: var(--yellow);
        & section {
          transform: initial;
          background: var(--yellow);
          padding: 5vh 0;
        }
      }
    }
    /* span.icon-arrow::before {
      content: "";
      position: absolute;
      background: transparent url(../images/arrow-bottom-right.png);
      z-index: 5;
      width: 1.2rem;
      height: 1.2rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      left: 0;
    } */
  </style>
</BaseLayout>
