---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
// const skillColor = "crimson";
// const fontWeight = "bold";
// const textCase = "uppercase";
// const Background = "../../src/images/route-grut.png";

// const identity = {
//   firstName: "Arnal GRUt.",
//   country: "Fronccceeee",
//   occupation: "Web-dé",
//   hobbies: ["gribouille", "écritouille", "jeudrôlisme"],
// };

// const skills = ["HTML", "CSS", "Astro", "Rédaction de documentation"];
// const happy = true;
// const finished = false;
// const goal = 3;
---

<BaseLayout pageTitle={pageTitle}>
  <p>Bientôt...</p>
</BaseLayout>
<style></style>
