---
/* import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro'; */
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/global.css';
const pageTitle = "Le blogax";
const Background ="../../src/images/route-grut.png";

---

<BaseLayout pageTitle={pageTitle}>
    <div class="main">
      <div class="image-container">
        <img
          class="image-reveal"
          src={Background}
          alt="test"
        />
      </div>
    </div>
    <p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
    <ul>
        <li><a href="/posts/post-1/">Article 1</a></li>
        <li><a href="/posts/post-2/">Article 2</a></li>
        <li><a href="/posts/post-3/">Article 3</a></li>
    </ul>
</BaseLayout>