---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Gribouille";

const images = import.meta.glob<{ default: ImageMetadata }>(
	"../artwork/*.{jpg,jpeg,JPG,png,webp}",
);
---

<BaseLayout pageTitle={pageTitle}>
	<div class="galerie display-flex">
		<div class="colonne-image">
			{
				Object.entries(images).map(async ([_path, image], index) => {
					const { default: imageData } = await image();
					return (
						<div class="figure">
							<a href={imageData.src} target="_blank">
								<Image
									format="webp"
									src={imageData}
									alt=""
									loading={index < 20 ? "eager" : "lazy"}
								/>
							</a>
							<div class="figcaption">
								{/* Affiche le nom de l'image - le chemin (11) et - l'extension (-4) */}
								{image.name.slice(11, -4).toLowerCase()}
							</div>
						</div>
					);
				})
			}
		</div>
	</div></BaseLayout
>
