---
import ArtCard from "../components/ArtCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const { imagePath, altText } = Astro.props;

const pageTitle = "Gribouille";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="galerie">
		<div class="colonne-image flow">
			<!-- <ArtCard imagePath={imagePath} altText={altText} /> -->
			<ArtCard
				imagePath="../images/alien-et-flingue-2.png"
				altText="Dessin abstrait en noir et blanc avec des formes organiques et géométriques."
				description="Alien et flingue"
			/>
			<ArtCard
				imagePath="../images/gardien_v-2023-final-color-1.png"
				altText="Dessin abstrait en noir et blanc avec des formes organiques et géométriques."
				description="Homonde gardien"
			/>
			<ArtCard
				imagePath="../images/fork-ciel-nb.png"
				altText="Dessin abstrait en noir et blanc avec des formes organiques et géométriques."
				description="Homonde Fork noir et blanc"
			/>
			<ArtCard
				imagePath="../images/saintes_doodle.png"
				altText="Dessin abstrait en noir et blanc avec des formes organiques et géométriques."
				description="Croquis ville de Saintes"
			/>
			<ArtCard
				imagePath="../images/texte-perso-2.png"
				altText="Dessin abstrait en noir et blanc avec des formes organiques et géométriques."
				description="Texte stylisé"
			/>
			<ArtCard
				imagePath="../images/background-home.png"
				altText="Dessin abstrait en noir et blanc avec des formes organiques et géométriques."
				description="Chemin et ville"
			/>
			<ArtCard
				imagePath="../images/alien-et-flingue-2.png"
				altText="Dessin abstrait en noir et blanc avec des formes organiques et géométriques."
				description="Alien et flingue"
			/>
			<ArtCard
				imagePath="../images/gardien_v-2023-final-color-1.png"
				altText="Dessin abstrait en noir et blanc avec des formes organiques et géométriques."
				description="Homonde gardien"
			/>
			<ArtCard
				imagePath="../images/fork-ciel-nb.png"
				altText="Dessin abstrait en noir et blanc avec des formes organiques et géométriques."
				description="Homonde Fork noir et blanc"
			/>
			<ArtCard
				imagePath="../images/saintes_doodle.png"
				altText="Dessin abstrait en noir et blanc avec des formes organiques et géométriques."
				description="Croquis ville de Saintes"
			/>
			<ArtCard
				imagePath="../images/texte-perso-2.png"
				altText="Dessin abstrait en noir et blanc avec des formes organiques et géométriques."
				description="Texte stylisé"
			/>
			<ArtCard
				imagePath="../images/background-home.png"
				altText="Dessin abstrait en noir et blanc avec des formes organiques et géométriques."
				description="Chemin et ville"
			/>
		</div>
	</div>
</BaseLayout>
