---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import Background from "../images/grut-ville-2-1.png";
const gribArt = import.meta.glob<{ default: ImageMetadata }>(
	"../artwork/*.{jpg,jpeg,JPG,png,webp}",
)[0];
console.log(gribArt);
const pageTitle = "Grammar Oisif";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="carton-texte">
		<p>Portfolio & tutti quanti</p>
	</div>
	<div class="main">
		<div class="image-container">
			<Image
				class="image-reveal"
				src={Background}
				alt="Maison route et ville sur une montagne au loin"
			/>
		</div>
	</div>
	<div class="main-text display-flex direction-row">
		<div class="display-flex direction-row redirection-col">
			<div class="redirection-card-ecritouille">
				<div class="display-flex direction-row">
					<div class="presentation display-flex direction-column">
						<h2>L'écritouille</h2>
						<h3>Je publie des textes ici.</h3>
						<div class="ambiance display-flex direction-row">
							<p>
								Des nouvelles essentiellement mais aussi des
								articles, des listes, des poèmes, des écrits
								sans queue ni tête. De l'écritouille en somme,
								de la gribouille de texte, du doodle de mots, du
								crobar de phrases. Il y a du neuf, du vieux dont
								certains bien antérieurs à la création du blog.
								La plupart sont courts, voire très courts, et
								certains ont l’élégance de ne pas se terminer.
							</p>
							<p>
								Avant chaque publication je détaille un peu le
								mood et le cadre technique de la rédaction.
								Comme il s'agit souvent d'exercices, je donne le
								temps d'écriture, le mode de génération
								aléatoire des thèmes, ceux que j'ai gardés, ceux
								que j'ai lâchement abandonnés.<br /><br />Enfin
								bref, parce que j'ai envie de partager, je
								publie des textes ici.
							</p>
							<div class="cta" style="align-items: flex-end;">
								<a href="/Ecritouille/">C'est par ici</a>
							</div>
						</div>
					</div>
					<!-- <div class="dernier-texte display-flex direction-row">
						<div class="box">
							<article>
								<input
									type="date"
									id="start"
									name="trip-start"
									value="2018-07-22"
									min="2018-01-01"
									max="2018-12-31"
								/>
								<p class="titre-texte">
									Lorem ipsum, consectetur adipiscing elit
								</p>
								<p>
									Début du texte plus 3 petits points, donec
									euismod turpis non urna auctor sagittis.
									Nulla facilisi. Suspendisse tempor elit urna
									[...]
								</p>
							</article>
							<div class="cta" style="align-items: flex-end;">
								<a href="/ecritouille/">C'est par ici</a>
							</div>
						</div>
					</div> -->
				</div>
			</div>
			<div class="redirection-card-gribouille">
				<div class="display-flex direction-column">
					<h2>La gribouille</h2>
					<p>
						Trad ou numérique. Trad et numérique. Des travaux
						terminés. D'autres à l'étape du crowbar. Du neuf, du
						vieux.
					</p>
					<div class="cta">
						<a href="/gribouille/">C'est par là</a>
					</div>
				</div>
			</div>
			<div class="redirection-card-webouille">
				<div class="display-flex direction-column">
					<h2>La webouille</h2>
					<p>
						Les étapes de création du projet "Grammar Oisif" -
						inspirations, choix techniques, expérimentations design,
						ressources.
					</p>
					<p>Bientôt...</p>
				</div>
			</div>
			<!-- <div class="cta"><a href="/webouille/">Click ici</a></div> -->
		</div>
	</div>
</BaseLayout>
