---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Chez-GRUt";
const Background ="../../src/images/grut-ville-2-1.png";
---
<BaseLayout pageTitle={pageTitle}>
	<!-- <div class="carton-texte">
		<p>Portfolio & tutti quanti</p>
	</div> -->
	<div class="main">
      <div class="image-container">
        <img
          class="image-reveal"
          src={Background}
          alt="test"
        />
    </div>
  </div>
  <div class="main-text display-flex direction-row">
		<div class="display-flex direction-row redirection-col">
			<div class="redirection-card-ecritouille">
				<div class="display-flex direction-row">
					<div class="presentation display-flex direction-column">
						<h2>L'écritouille</h2>
							<h3>Je publie des textes ici.</h3>
							<div class="ambiance display-flex direction-row">
								<p>
									Des nouvelles essentiellement mais aussi des articles, des listes, des poèmes, des écrits sans queue ni tête. De l'écritouille en somme, de la gribouille de texte, du doodle de mots, du crobar de phrases. Il y a du neuf, du vieux dont certains bien antérieurs à la création du blog. La plupart sont courts, voire très courts, et certains ont l’élégance de ne pas se terminer.
								</p>
								<p>
									Avant chaque publication je détaille un peu le mood et le cadre technique de la rédaction. Comme il s'agit souvent d'exercices, je donne le temps d'écriture que je me suis imposé, le mode de génération aléatoire des thèmes, ceux que j'ai gardés, ceux que j'ai lâchement abandonnés.<br/><br/>Enfin bref, parce que j'ai envie de partager, je publie des textes ici.
								</p>
							</div>
					</div>
					<div class="dernier-texte display-flex direction-row">
						<div class="box">
							<div class="info-texte">
								<input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01"
									max="2018-12-31" />
								<p class="titre-texte">Lorem ipsum, consectetur adipiscing elit</p>
								<p>Début du texte plus 3 petits points, donec euismod turpis non urna auctor sagittis.
									Nulla facilisi. Suspendisse tempor elit urna [...]</p>
							</div>
							<div class="cta"><a href="/ecritouille.astro">C'est par ici</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="redirection-card-gribouille">
				<div class="display-flex direction-column">
					<h2>La gribouille</h2>
					<p>
						consectetur adipiscing elit. Donec euismod turpis non urna auctor sagittis. Nulla facilisi.
						Suspendisse tempor elit urna, a ultrices enim convallis in.
					</p>
					<div class="cta"><a href="/gribouille.astro">C'est par là</a></div>
				</div>
			</div>
			<div class="redirection-card-webouille">
				<div class="display-flex direction-column">
					<h2>La webouille</h2>
					<p>
						consectetur adipiscing elit. Donec euismod turpis non urna auctor sxagittis. Nulla facilisi.
						Suspendisse tempor elit urna, a ultrices enim convallis in.
					</p>
				</div>
				<div class="cta"><a href="/webouille.astro">Click ici</a></div>
			</div>
		</div>
	</div>
</BaseLayout>