---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import proto_projet_1 from "../images/visuels-webouille/fig-2.png";

// import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Webouille";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="webouille-main display-flex">
    <h1>{pageTitle}</h1>
    <section class="webouille-todo display-flex">
      <div class="display-flex">
        <h2 class="soustitre-page">Todo list</h2>
        <ul>
          <li><input type="checkbox" />lorem ipsum - task 3</li>
          <li><input type="checkbox" />lorem ipsum - task 4</li>
          <li><input type="checkbox" />lorem ipsum - task 5</li>
          <li><input type="checkbox" />lorem ipsum - task 6</li>
        </ul>
      </div>
    </section>
    <section class="webouille-done display-flex">
      <div class="display-flex direction-column main-done">
        <h2 class="soustitre-page">Un peu de passif...</h2>
        <p>
          Ça a commencé en 2024, avec les copains du taf, des doutes et une envie collective de se faire un <strong>portfolio webdesigner</strong>. On s'est retrouvé au chateau, chez la Chatelaîne et le CodeKeeper, pour travailler ensemble sur nos projets perso. Rien de mieux que le taf en groupe pour se motiver et avancer.
        </P>
        <p>
          On était parti pour se retrouver régulièrement, afin de ne pas se laisser porter par la procrastination. Les quelques week-end où on s'est vu furent vraiment cool. Nos réunions avaient l'air de <em>fab lab</em> pépouze agrémentée de junk food et de vannes foireuses.        </p>
        <p>
          Au départ, sur les conseils du CK qui avait bien digué la question, on était parti sur une base <a href="https://gohugo.io/" >HUGO</a> - un générateur de site statique libre, basé sur le langage Go. Vu qu'on était tous à peu près noob en création de site <em>from scratch</em>, l'idée de passer par ce type d'outil parut à tout le monde une bonne idée. D'autant plus que le CK nous avait confectionné un <a href="https://antoinemoreau.contact/blog/partie-1/tutoriel">tutoriel</a>assez complet et précis pour débuter avec l'outil. 
        </p>
        <div class="img">
          <Image
            class="proto-img"
            src={proto_projet_1}
            alt="double page du projet 1 sur papier"
          />
        </div>
        <p>
          Bon, on va pas se mentir, cette première initiative a tourné court pour des raisons diverses et plus ou moins sérieuses, allant du licenciement à la flemme standard en passant par des voyages à l'autre bout du monde. 
        </p>
        <h3>Mais c'est reparti de plus belle</h3>
        <p>
          Le CodeKeeper, le A comme on l'appelle en privée, c'est pas le genre à se taner la couane au soleil quand il quelque chose en tête, je vous invite à jeter un oeil sur son <a href="https://antoinemoreau.contact/">blog</a>
        </p>
        <p>
          Lorem Salu bissame ! Wie geht's les samis ? Hans apporte moi une
          Wurschtsalad avec un picon bitte, s'il te plaît. Voss ? Une Carola et
          du Melfor ? Yo dû, espèce de Knäckes, ch'ai dit un picon !
        </p>
        <p>
          Hopla vous savez que la mamsell Huguette, la miss Miss Dahlias du
          messti de Bischheim était au Christkindelsmärik en compagnie de
          Richard Schirmeck (celui qui a un blottkopf), le mari de Chulia
          Roberstau, qui lui trempait sa Nüdle dans sa Schneck ! Yo dû,
          Pfourtz ! Ch'espère qu'ils avaient du Kabinetpapier, Gal !
        </p>        
        <p>
          Lorem Salu bissame ! Wie geht's les samis ? Hans apporte moi une
          Wurschtsalad avec un picon bitte, s'il te plaît. Voss ? Une Carola et
          du Melfor ? Yo dû, espèce de Knäckes, ch'ai dit un picon !
        </p>
        <h2 class="soustitre-page">Un peu de passif...</h2>
        <p>
          Hopla vous savez que la mamsell Huguette, la miss Miss Dahlias du
          messti de Bischheim était au Christkindelsmärik en compagnie de
          Richard Schirmeck (celui qui a un blottkopf), le mari de Chulia
          Roberstau, qui lui trempait sa Nüdle dans sa Schneck ! Yo dû,
          Pfourtz ! Ch'espère qu'ils avaient du Kabinetpapier, Gal !
        </p>
        <Image
          class="webouille-img"
          src={proto_projet_1}
          alt="image test article test"
        />
        <p>
          Yoo ch'ai lu dans les DNA que le Racing a encore perdu contre
          Oberschaeffolsheim. Verdammi et moi ch'avais donc parié deux knacks et
          une flammekueche. Ah so ? T'inquiète, ch'ai ramené du schpeck, du
          chambon, un kuglopf et du schnaps dans mon rucksack. Allez, s'guelt !
          Wotch a kofee avec ton bibalaekaess et ta wurscht ? Yeuh non che suis
          au réchime, je ne mange plus que des Grumbeere light et che fais de la
          chym avec Chulien. Tiens, un rottznoz sur le comptoir.
        </p>
        <p>
          Tu restes pour le lotto-owe ce soir, y'a baeckeoffe ? Yeuh non, merci
          vielmols mais che dois partir à la Coopé de Truchtersheim acheter des
          mänele et des rossbolla pour les gamins. Hopla tchao bissame !
          Consectetur adipiscing elit
        </p>
      </div>
    </section>
    <div class="overlay-done"></div>
  </div>
</BaseLayout>
<style>

  div.img {
    position: relative;
    z-index: 0;      
    display: flex;
    align-items: center;
    
    & img {      
      object-fit: contain;         
    }
    &:after {
      content:"double page du projet 1 sur papier";
      position: absolute;      
      bottom: 5%;
      left: 5%;
      background-color: var(--white);
      z-index: 1 ;
      padding: 0 1ch;      
    }
  }
  .webouille-main {
    position: relative;
    flex-direction: row;
    width: 100%;
    background: var(--black) url(../images/fond-webd.png);
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-wrap: wrap;

    & img {
      height: fit-content;
    }

    & h1 {
      width: 100%;
      color: var(--white);
      z-index: 2;
      font-size: 4rem;
      margin-top: 66px;
      padding-left: 32px;
    }

    & div.overlay-done {
      content: "";
      position: absolute;
      width: 100%;
      height: 45vh;
      background-image: linear-gradient(transparent 20%, var(--black));
      bottom: 0;
      right: 0;
      z-index: 1;

    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: var(--black);
      opacity: 0.85;
    }
  }
  section {
    z-index: 1;
    height: 100vh;
    padding-bottom: 15vh;
  }

  .webouille-todo {
    /* height: 100vh; */
    width: auto;
    max-width: 25%;
    /* background: var(--black); */
    & * {
      color: var(--white);
    }
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 2vh 32px 8vh 32px;
    }
    & ul {
      color: var(--white);
      width: inherit;
      padding: 0;

      & li input[checkbox] {
        display: flex;
      }
    }
  }

  .webouille-done {
    /* height: 100vh; */
    flex-grow: 1;
    width: auto;
    position: relative;
    max-width: 75%;   
    & a {
      background-color: var(--yellow);      
    }
    
    & > div.main-done {
      max-width: 1280px;
      padding: 2vh 4vw 8vh 10vw;
      scrollbar-color: transparent transparent;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      & *:is(h2, h3, p) {
        max-width: 640px;
        height: auto;
      }
      & *:is(h2, h3) {
        background: var(--white);
        padding: 8px 16px 8px 0;
        color: var(--black);
        width: fit-content;
      }
      & *:is(h3, p) {
        font-size: 1.3rem;
      }
      & p {
        color: color-mix(in srgb, var(--white) 90%, var(--black));
      }
      & h2 {
        &:nth-child(even) {
          transform: rotate(2deg);
        }
        &:nth-child(odd) {
          transform: rotate(-2deg);
        }
      }
      & h3 {
        &:nth-child(even) {
          transform: rotate(-2deg);
        }
        &:nth-child(odd) {
          transform: rotate(2deg);
        }
      }
    }
  }

  @media (width < 1024px) {
    .webouille-main {
      position: relative;
      flex-direction: column;
      width: 100%;
      z-index: 1;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      flex-wrap: wrap;      

      & section {
        min-width: 100%;
        height: fit-content;        
        padding: 24px;

        &:is(.webouille-todo) {
          order: 1;
        }

        & > div {
          padding: 0;
        }        
      }
    }
    & div.overlay-done {
      content: "";
      position: absolute;
      display: none;
    }
  }
  @media (width < 601px ) {
    .webouille-main {

      & h1 {
        font-size: 3rem;
      }

      & h2 {
        font-size: 1.8rem;
      }

      & h3 {
        font-size: 1.2rem;
      }    
  }
  
</style>
