---
import BaseLayout from "../layouts/BaseLayout.astro";
// import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Webouille";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="webouille-main display-flex">
    <h1>{pageTitle}</h1>
    <section
      class="webouille-todo display-flex"
      style="background-color: var(--black);"
    >
      <div class="display-flex">
        <h2 class="soustitre-page">Un peu de passif</h2>
        <div>
          <li>
            <input type="checkbox" id="task 1" checked />lorem ipsum - task 1
          </li>
          <li>
            <input type="checkbox" /><label for="task2"
              >lorem ipsum - task 2</label
            >
          </li>
          <li><input type="checkbox" />lorem ipsum - task 3</li>
          <li><input type="checkbox" />lorem ipsum - task 4</li>
          <li><input type="checkbox" />lorem ipsum - task 5</li>
          <li><input type="checkbox" />lorem ipsum - task 6</li>
        </div>
      </div>
    </section>
    <section
      class="webouille-done display-flex"
      style="background-color: var(--yellow);"
    >
      <div class="display-flex direction-column">
        <h2 class="soustitre-page">Et sinon la vie</h2>
        <p class="soustitre-page">Et sinon la vie</p>
      </div>
    </section>
  </div>
</BaseLayout>
<style>
  .webouille-main {
    position: relative;
    flex-direction: row;
    width: 100%;

    & h1 {
      width: 100%;
      position: absolute;
    }
  }
  section {
    z-index: 1;
    padding-top: 10vh;
  }

  .webouille-todo {
    max-width: 20%;
    height: 100vh;
    /* position: fixed; */
    & * {
      color: var(--white);
    }
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 32px 32px 32px;
    }
    & ul {
      color: var(--white);
      width: inherit;
      padding: 0;

      & li input[checkbox] {
        display: flex;
      }
    }
  }
  .webouille-done {
    height: 100vh;
    flex-grow: 1;
    background: red;
  }
</style>
