---
import BaseLayout from "../layouts/BaseLayout.astro";
// import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Webouille";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="contenu-page display-flex direction-row">
    <section style="background-color: var(--black);">
      <h1 class="soustitre-page">{pageTitle}</h1>
      <div class="webouille display-flex">
        <h2 class="soustitre-page">Un peu de passif</h2>
        
        <h2 class="soustitre-page">Et sinon la vie</h2>
      </div>      
      <div class="webouille display-flex">        
      </div>
    </section>
  </div>
</BaseLayout>
<style>
section {
  width: 100%;
}
</style>
