---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import test_img from "../images/visuels-webouille/test-screen-de-texts.png";

// import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Webouille";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="webouille-main display-flex">
    <h1>{pageTitle}</h1>
    <section
      class="webouille-todo display-flex"
      style="background-color: var(--black);"
    >
      <div class="display-flex">
        <h2 class="soustitre-page">Todo list</h2>
        <ul>
          <li><input type="checkbox" />lorem ipsum - task 3</li>
          <li><input type="checkbox" />lorem ipsum - task 4</li>
          <li><input type="checkbox" />lorem ipsum - task 5</li>
          <li><input type="checkbox" />lorem ipsum - task 6</li>
        </ul>
      </div>
    </section>
    <section class="webouille-done display-flex">
      <div class="display-flex direction-column">
        <h2 class="soustitre-page">Un peu de passif...</h2>
        <p>
          Lorem Salu bissame ! Wie geht's les samis ? Hans apporte moi une
          Wurschtsalad avec un picon bitte, s'il te plaît. Voss ? Une Carola et
          du Melfor ? Yo dû, espèce de Knäckes, ch'ai dit un picon !
        </p>
        <Image
          class="webouille-img"
          src={test_img}
          alt="image test article test"
        />
        <h3>Ok ok mais c'est reparti de plus belle</h3>
        <p>
          Lorem Salu bissame ! Wie geht's les samis ? Hans apporte moi une
          Wurschtsalad avec un picon bitte, s'il te plaît. Voss ? Une Carola et
          du Melfor ? Yo dû, espèce de Knäckes, ch'ai dit un picon !
        </p>
        <p>
          Hopla vous savez que la mamsell Huguette, la miss Miss Dahlias du
          messti de Bischheim était au Christkindelsmärik en compagnie de
          Richard Schirmeck (celui qui a un blottkopf), le mari de Chulia
          Roberstau, qui lui trempait sa Nüdle dans sa Schneck ! Yo dû,
          Pfourtz ! Ch'espère qu'ils avaient du Kabinetpapier, Gal !
        </p>
        <p>
          Yoo ch'ai lu dans les DNA que le Racing a encore perdu contre
          Oberschaeffolsheim. Verdammi et moi ch'avais donc parié deux knacks et
          une flammekueche. Ah so ? T'inquiète, ch'ai ramené du schpeck, du
          chambon, un kuglopf et du schnaps dans mon rucksack. Allez, s'guelt !
          Wotch a kofee avec ton bibalaekaess et ta wurscht ? Yeuh non che suis
          au réchime, je ne mange plus que des Grumbeere light et che fais de la
          chym avec Chulien. Tiens, un rottznoz sur le comptoir.
        </p>
        <p>
          Tu restes pour le lotto-owe ce soir, y'a baeckeoffe ? Yeuh non, merci
          vielmols mais che dois partir à la Coopé de Truchtersheim acheter des
          mänele et des rossbolla pour les gamins. Hopla tchao bissame !
          Consectetur adipiscing elit
        </p>
        <p>
          Lorem Salu bissame ! Wie geht's les samis ? Hans apporte moi une
          Wurschtsalad avec un picon bitte, s'il te plaît. Voss ? Une Carola et
          du Melfor ? Yo dû, espèce de Knäckes, ch'ai dit un picon !
        </p>
        <h2 class="soustitre-page">Un peu de passif...</h2>
        <p>
          Hopla vous savez que la mamsell Huguette, la miss Miss Dahlias du
          messti de Bischheim était au Christkindelsmärik en compagnie de
          Richard Schirmeck (celui qui a un blottkopf), le mari de Chulia
          Roberstau, qui lui trempait sa Nüdle dans sa Schneck ! Yo dû,
          Pfourtz ! Ch'espère qu'ils avaient du Kabinetpapier, Gal !
        </p>
        <Image
          class="webouille-img"
          src={test_img}
          alt="image test article test"
        />
        <p>
          Yoo ch'ai lu dans les DNA que le Racing a encore perdu contre
          Oberschaeffolsheim. Verdammi et moi ch'avais donc parié deux knacks et
          une flammekueche. Ah so ? T'inquiète, ch'ai ramené du schpeck, du
          chambon, un kuglopf et du schnaps dans mon rucksack. Allez, s'guelt !
          Wotch a kofee avec ton bibalaekaess et ta wurscht ? Yeuh non che suis
          au réchime, je ne mange plus que des Grumbeere light et che fais de la
          chym avec Chulien. Tiens, un rottznoz sur le comptoir.
        </p>
        <p>
          Tu restes pour le lotto-owe ce soir, y'a baeckeoffe ? Yeuh non, merci
          vielmols mais che dois partir à la Coopé de Truchtersheim acheter des
          mänele et des rossbolla pour les gamins. Hopla tchao bissame !
          Consectetur adipiscing elit
        </p>
      </div>
    </section>
  </div>
</BaseLayout>
<style>
  .webouille-main {
    position: relative;
    flex-direction: row;
    width: 100%;
    background: var(--white) url(../images/fond-webd.png);
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: var(--black);
      opacity: 0.85;
    }

    & h1 {
      width: 100%;
      position: absolute;
    }
  }
  section {
    z-index: 1;
    padding-top: 10vh;

    & h2 {
      font-size: 1.4rem;
    }
  }

  .webouille-todo {
    max-width: 20%;
    height: 100vh;
    width: 100%;
    & * {
      color: var(--white);
    }
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 32px 32px 32px;
    }
    & ul {
      color: var(--white);
      width: inherit;
      padding: 0;

      & li input[checkbox] {
        display: flex;
      }
    }
  }
  .webouille-done {
    height: 100vh;
    flex-grow: 1;
    overflow: scroll;
    scrollbar-color: transparent transparent;
    padding-left: 2vw;
    padding-bottom: 4vh;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100vh;
      bottom: 0;
      background-image: linear-gradient(transparent 85%, var(--black));
    }

    & > div {
      max-width: 1024px;
      gap: 24px;

      & *:is(h2, h3, p) {
        max-width: 640px;
      }

      & *:is(h2, h3) {
        background: var(--white);
        padding: 8px 16px 8px 0;
        color: var(--black);
        width: fit-content;
      }
      & *:is(h3, p) {
        font-size: 1rem;
      }
      & p {
        color: color-mix(in srgb, var(--white) 90%, var(--black));
      }
      & *:not(p, img) {
        &:nth-child(even) {
          transform: rotate(2deg);
        }
        &:nth-child(odd) {
          transform: rotate(-2deg);
        }
      }
    }
  }
</style>
