---
import BaseLayout from "../layouts/BaseLayout.astro";
// import BlogPost from "../components/BlogPost.astro";

const pageTitle = "about La vie, les potos et le reste";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="contenu-page display-flex direction-row">
    <section>
      <h1 class="soustitre-page">{pageTitle.slice(6)}</h1>
      <div class="webouille display-flex">
        <h2 class="soustitre-page">Un peu de passif</h2>
        
        <h2 class="soustitre-page">Et sinon la vie</h2>
      </div>      
      <div class="webouille display-flex">        
      </div>
    </section>
  </div>
</BaseLayout>
