---
const { title, url } = Astro.props;
---

<div class="info-texte">
    <input
        type="date"
        id="start"
        name="trip-start"
        value="2018-07-22"
        min="2018-01-01"
        max="2018-12-31"
    />
    <p class="titre-texte">{title}</p>
    <ul class="categories">
        <li>#test catégories</li>
        <li>#test catégories</li>
        <li>#test catégories</li>
    </ul>
    <a href={url}></a>
</div>
