---
const { title, url, pubDate, author } = Astro.props;
---

<article>
    <p class="titre-texte">{title}</p>
    <p class="date-et-auteur"><span class="date-publication">{pubDate}</span><span>|</span><span class="auteur">{author}</span></p>
    <a href={url}></a>
</article>
---
<style>
p.date-et-auteur {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    gap : 8px;
}
</style>