---
// import Menu from './Menu.astro';
import Navigation from './Navigation.astro';
const pageTitle = Astro.props;
---
<header>
  <nav class="to-top">
    <div class="nav-box">	
      <p class="page-titre">{pageTitle}</p>
      <Navigation />
    </div>
  </nav>
</header>   