---
// import Menu from './Menu.astro';
import { Image } from "astro:assets";
import Navigation from "./Navigation.astro";
import logo_go from "../images/logo-grut-2026.png";

// const { pageTitle } = Astro.props;
---

<header>
  <nav class="to-top">
    <div class="nav-box">
      <p class="page-titre to-small-titre">
        <a href="/">Grammar Oisif</a>
        <Image src={logo_go} alt="logo Grammar-Oisif"/>
      </p>
      <Navigation />
    </div>
  </nav>
</header>
<style>
header nav.to-top *.to-small-titre  {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;

  &::before {
    display: none;
    height: 2rem;
  }

  & img {    
    object-fit: contain;
    width: 2rem;
  }
}
</style>
