---
// import Menu from './Menu.astro';
import Navigation from './Navigation.astro';
const pageTitle = "Grammar Oisif";
// const {pageTitle} = Astro.props;
---
<header>
  <nav class="to-top">
    <p class="page-titre to-small-titre">{pageTitle}</p>
    <Navigation />
  </nav>
</header>