---
import Menu from './Menu.astro';
import Navigation from './Navigation.astro';
const pageTitle = "Grammar Oisif";
---
<header>
  <nav class="to-top">
    <!-- <Menu /> -->
    <h1 class="to-small-titre">{pageTitle}</h1>
    <Navigation />
  </nav>
</header>