---
import Menu from './Menu.astro';
import Navigation from './Navigation.astro';
const pageTitle = "Grammar Oisif";
---
<header>
  <nav class="to-top">
    <p class="page-titre to-small-titre">{pageTitle}</p>
    <Navigation />
  </nav>
</header>