---
---
<!-- <div class="nav-box"> -->
    <ul class="to-small-menu nav-links">
        <li><a href="/">Maison</a></li>
        <li><a href="/blog">Écritouille</a></li>
        <li><a href="/about">Gribouille</a></li>
        <li><a href="/about">Webouille</a></li>
    </ul>
<!-- </div> -->
