<!-- <div class="nav-box"> -->
<div class="burger-box">
    <input type="checkbox" />
    <div class="burger display-flex direction-column">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<ul class="to-small-menu nav-links">
    <li><a href="/Ecritouille">Écritouille</a></li>
    <li><a href="/gribouille">Gribouille</a></li>
    <!-- <li><a href="/tags/Écritouille">Écritouille</a></li> -->
    <!-- <li><a href="/Webouille">Webouille</a></li> -->
    <li class="about"><a href="/about">&</a></li>
</ul>
<!-- </div> -->
