---
const { platform, username, btn_text, icon_rs } = Astro.props;
---

<li>
  <div class="cta">
    <a href={`https://${platform}/${username}`} target="_blank">
      <div class={`${icon_rs}`}></div>{btn_text}
    </a>
  </div>
</li>
