---
const { platform, username } = Astro.props;

---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    text-decoration: none;
    transition: filter 0.2s ease-in-out;
    font-size: 0.8rem;
    padding-right: 1rem
    
    &::before {
      content: "🔗";
      padding-right: 0.5rem;
    }

    &:hover {
        filter: grayscale(90%);
        border-bottom: 1px solid grey;
    }
  }

</style>