---
import { Image } from "astro:assets";
// import type { ImageMetadata } from "astro";

// interface Props {
//     img_path: string;
//     img_alt: string;
//     img_name: string;
// }
const { source, img_name, img_alt } = Astro.props;
---

<div class="img">
    <Image src={source} alt={img_alt} width="1024" />
</div>
<style is:global define:vars={img_name}>
    div.img:after {
        content: var(--img_name);
        height: 100px;
    }
</style>
