---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
    source: string;
    img_id: number;
    img_alt: string;
    img_name: string;
}
const { source, img_id, img_name, img_alt } = Astro.props;
---

<div class={`visuel-${img_id}`}>
    <Image src={source} alt={img_alt} width="1024" />
</div>
<style is:global define:vars={img_name}>
    div[class*="visuel-"]:after {
        content: var(--img_name);
        height: 100px;
    }
</style>
